<form class="flexcol dnd5e" autocomplete="off">

  <nav class="tabs" data-group="primary-tabs">
    <a class="item" data-tab="facet-check"><i class="fas fa-dice-d20"></i> Facet Ability Check</a>
    <a class="item" data-tab="modifications"><i class="fas fa-cogs"></i> Modifications</a>
    <a class="item" data-tab="enhancements"><i class="fas fa-cogs"></i> Enhancements</a>
  </nav>
  
  <section id="facet-check-tabs" class="content">
  <div class="tab" data-tab="facet-check">
  This is the facet check tab.
  </div>
  
  <div class="tab" data-tab="modifications">
  This is the modifications tab.
  <input type="number" id="SpellModificationSelection" class="Selection" min=0 max=9 step=1 value=0></input>
  </div>
  
  <div class="tab" data-tab="enhancements">
  This is the enhancements tab.
  <input type="number" id="SpellEnhancementSelection" class="Selection" min=0 max=9 step=1 value=0></input>
   
  </div>
  </section>  

  <footer>
  This is a footer.
  </footer>


</form>
